################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GitHubAction/bin/Debug/netcoreapp3.1
/GitHubAction/obj
